.current {
  padding: 100px 0;
}

.current_title {
  color: var(--black, #222);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.48px;
  padding-bottom: 48px;
}

.current_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.current_item {
  max-width: 420px;
  border-radius: 20px;
  border: 1px solid var(--light-gray, #f2f0fe);
  padding: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.current_item:hover {
  box-shadow: 0px 16px 16px 0px rgba(34, 34, 34, 0.04);
}
.current_img {
  width: 44px;
}
.current_text {
  max-width: 316px;
  font-size: 18px;
  font-weight: 600;
  color: var(--black, #222);
}

.current_box {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current_inner_text {
  font-size: 14px;
  font-weight: 400;
  color: var(--black, #222);
  padding-bottom: 30px;
}

.current_btn {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--green, #1dbf73);
  border-radius: 50px;
  border: 1px solid var(--green, #1dbf73);
  padding: 12px 0;
}
.current_btn2 {
  display: block;
  max-width: 194px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  padding: 124px 0;
  text-align: center;
  color: var(--green, #1dbf73);
}

.current_btn:hover {
  background-color: #1dbf73;
  color: #fff;
}

.current_watch {
  transition: all 0.4s ease;
  border-radius: 20px;
  background: var(--light-gray, #f2f0fe);
}

.current_watch:hover {
  box-shadow: 0px 16px 16px 0px rgba(34, 34, 34, 0.04);
  background-color: #fff;
  border: 1px solid #1dbf73;
}
